nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  background-color: #1089ad;
  border-top: 1px solid #1089ad;
  border-bottom: 1px solid #1089ad;
}
header {
  background-color: #1089ad;
}
nav li {
  display: inline;
  padding: 100px;
}
body {
  background-image: url(./images/Single-Red-Rose-Meaning-and-Symbolism-2.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
}
h1,
h2 {
  font-size: 36px;
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: lightgray;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: #1089ad;
  font-style: italic;
}
.container {
  margin-top: 200px;
}
@media (max-width: 600px) {
  nav {
    float:none
    display: block;
    text-align: left;
  }
  .wrapper{
    width:400px;
  } 
  a:link {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: lightgray;
    font-weight: bold;
    text-decoration: underline;
  }
  a:active {
    background-color: #1089ad;
    font-style: italic;
  }
}
