.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  font-size: 26px;
}
.main-nav {
  background-color: #1089ad;
  border-top: 1px solid #1089ad;
  border-bottom: 1px solid #1089ad;
  margin-bottom: 50px;
}

body {
  background-image: url(./images/Single-Red-Rose-Meaning-and-Symbolism-2.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
}
h1,
h2 {
  font-size: 36px;
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: lightgray;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: #1089ad;
  font-style: italic;
}
.wrapper {
  margin-top: 200px;
}
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #1089ad;
  color: black;
} */

@media (max-width: 600px) {
  .main-nav {
    background-color: #1089ad;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 0.1rem;
    background-color: #1089ad;
    border-top: 1px solid #1089ad;
    border-bottom: 1px solid #1089ad;
    align-items: center;
    justify-content: center;
  }
  h1,
  h2 {
    display: block;
  }
}
